#board {
    display: grid;
    margin: 2rem;
}


.row {
    display: flex;
    align-items: center;
    color: white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    background: rgb(65, 65, 65);
    margin: 0.5px;
    min-height: 50px;
    min-width: 50px;
    font-size: 2rem;
}

.hidden {
    display: none;
}

.revealed {
    background: rgb(104, 104, 104);
}